@font-face {
	font-family: 'Futura-Bold';
	src: url('../fonts/Futura-Bold.eot');
	src: url('../fonts/Futura-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Futura-Bold.svg#Futura-Bold') format('svg'),
	url('../fonts/Futura-Bold.ttf') format('truetype'),
	url('../fonts/Futura-Bold.woff') format('woff'),
	url('../fonts/Futura-Bold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaBT-Medium';
	src: url('../fonts/FuturaBT-Medium.eot');
	src: url('../fonts/FuturaBT-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/FuturaBT-Medium.svg#FuturaBT-Medium') format('svg'),
	url('../fonts/FuturaBT-Medium.ttf') format('truetype'),
	url('../fonts/FuturaBT-Medium.woff') format('woff'),
	url('../fonts/FuturaBT-Medium.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}


* {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}


body {
	font-family: 'FuturaBT-Medium'; 
	font-size: 16px;

}

img {
	max-width: 100%;
	height: auto;
}

.title {
	padding: 70px 0;
	background: #0B9EF5;
}

.title h2 {
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 28px;
	letter-spacing: 1.4px;
}

.btn a {
	display: inline-block;
	border: 2px solid #0B9EF5;
	border-radius: 4px;
	padding: 18px 40px;
	transition: .4s all linear;
	text-transform: uppercase;
	color: #0B9EF5;
	font-family: 'Futura-Bold';
}
.btn a:hover {
	background: #0B9EF5;
	color: #FFFFFF;
}
.btn.big a {
	padding: 26px 75px;
	font-size: 30px;
	color: #;
}
.btn.white a {
	border-color: #FFFFFF;
	color: #FFFFFF;
}
.btn.white a:hover {
	background: #FFFFFF;
	color: #0B9EF5;
}

.container {
	max-width: 1640px;
	margin: 0 auto;
}

.section .content {
	padding: 60px 0 40px;
}

header {
	background: #044867;
	height: 170px;
	position: relative;
}

header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

header .menu ul li {
	display: inline-block;
	margin-right: 55px;
}

header .menu ul li:last-child {
	margin-right: 0;
}

header .menu ul li a {
	color: #FFFFFF;
	text-transform: uppercase;
	transition: .4s all linear;
}

header .menu ul li a:hover {
	color: #0B9EF5;
}
body header .btn-mobile {
	display: none;	
}

#banner {
	height: 420px;
	background: url('../img/banner.jpg') center center no-repeat;
}

#banner .container{
	display: flex;
	height: 100%;
	align-items: center;
}

#banner .textpng{
	height: 382px;
}

#cta {
	text-align: center;
	padding: 70px 0;
}

#about {
	font-size: 28px;
	font-family: 500;
	color: #555555;
}
#about p {
	margin-bottom: 28px;
}
#about h3 {
	color: #0B9EF5;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	margin-bottom: 13px;
}
#about .columns {
	display: flex;
	flex-wrap: wrap;
}
#about .columns .col {
	flex: 1;
}
#palestrantes .content {
	padding: 100px 0 140px;
}
.cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.cards .card {
	width: calc(33.33% - 60px);
	margin-left: 30px;
	margin-right: 30px;
}
.card {
	background: #044867;
	margin-top: 150px;
}
.card .card-image {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: 100% auto;
	margin: -150px auto 0;
}
.card .card-content {
	padding: 25px 55px 70px;
}
.card .card-content h3 {
	font-size: 36px;
	color: #0B9EF5;
	margin-bottom: 12px;
}
.card .card-content p {
	color: #FFFFFF;
	font-size: 28px;
}
.card .card-content .socials {
	text-align: center;
	padding-top: 35px;
}
.card .card-content .socials a {
	color: #0B9EF5;
	font-size: 50px;
	margin: 0 20px;
}

footer {
	padding: 50px 0;
	background: #044867;
}

footer .container {
	display: flex;
	align-items: center;
}

footer ul li {
	display: inline-block;
	margin-right: 35px;
	color: #FFFFFF;
	font-size: 50px;
}

footer ul li:last-child {
	margin-right: 0;
}

footer p {
	color: #FFFFFF;
	margin-right: 90px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

@media screen and (max-width: 1640px) {
	.btn a {
		padding: 12px 30px;
	}
	.btn.big a {
		padding: 20px 60px;
		font-size: 25px;
	}

	.section .content {
		padding: 30px 0 20px;
	}

	.container {
		max-width: 1450px;
	}

	header .logo {
		max-width: 500px;
	}

	header .menu ul li {
		margin-right: 40px;
	}
	#about {
		font-size: 22px;
	}
	.card .card-content .socials a {
		font-size: 30px;
		margin: 0 10px;
	}
	footer {
		padding: 30px 0;
	}
	footer p {
		margin-right: 30px;
	}
	footer ul li {
		margin-right: 15px;
		font-size: 30px;
	}
}

@media screen and (max-width: 1450px) {
	.btn a {
		padding: 10px 25px;
		font-size: 20px;
	}
	.btn.big a {
		padding: 15px 40px;
	}

	.title {
		padding: 40px 0;
	}
	.title h2 {
		font-size: 20px;
	}

	.container {
		max-width: 1080px;
	}

	header {
		height: 120px;
	}

	header .logo {
		max-width: 340px;
	}

	header ul li {
		margin-right: 30px;
		font-size: 14px;
	}

	header .menu ul li {
		margin-right: 30px;
	}

	#banner {
		height: 300px;
	}

	#banner .textpng{
		height: 90%;
	}

	#cta {
		padding: 50px 0;
	}

	#about {
		font-size: 20px;
	}
	#palestrantes .content {
		padding: 60px 0 40px;
	}
	.card .card-image {
		width: 200px;
		height: 200px;
		margin-top: -100px;
	}
	.card .card-content {
		padding: 20px 35px 30px;
	}
	.card .card-content h3 {
		font-size: 18px;
		font-family: 'Futura-Bold';
	}
	.card .card-content p {
		font-size: 18px;
	}
}

@media screen and (max-width: 1100px) {
	.container {
		max-width: 992px;
	}

	header {
		height: 80px;
	}

	header .logo {
		max-width: 250px;
	}

	header .menu ul li {
		margin-right: 25px;
	}
	.cards .card {
		width: calc(50% - 60px);
		margin: 100px 15px 50px;
	}
	.card .card-content {
		padding: 15px 25px 20px;
	}
	.card .card-content h3, .card .card-content p {
		font-size: 16px
	}
}

@media screen and (max-width: 992px) {
	body header .menu {
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		background: rgba(11,158,245,.9);
		text-align: right;
		height: 192px;
		opacity: 0.80;
		visibility: hidden;
		opacity: 0;
		transition: .4s all linear;
	}
	body header .menu.active {
		visibility: visible;
		opacity: 1
	}
	body header .menu ul {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	body header .menu ul li {
		display: block;
		margin-right: 0;
		margin-left: 0
	}
	body header .menu ul li a {
		color: #fff;
		padding: 22px;
		font-size: 21px;
		text-transform: uppercase
	}

	body header .btn-mobile {
		display: block;
	}


	body header .btn-mobile span {
		height: 4px;
		width: 40px;
		background: #ffffff;
		display: block;
		position: relative
	}

	body header .btn-mobile span:nth-child(2) {
		margin-top: 8px;
		margin-bottom: 8px
	}

	body header .btn-mobile.active span:first-child {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
		top: 12px
	}

	body header .btn-mobile.active span:nth-child(2) {
		visibility: hidden;
		opacity: 0
	}

	body header .btn-mobile.active span:last-child {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
		bottom: 12px
	}

	.container {
		max-width: 90%;
	}
	#banner {
		height: 192px;
	}
}

@media screen and (max-width: 768px) {
	
	#banner {
		background: url('../img/banneriphone2.jpg') center center no-repeat;

	}
	#about .columns .col {
		flex: auto;
		width: 50%;
	}
	.cards .card {
		width: 100%;
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
	}

	footer .container {
		flex-direction: column;
		flex-wrap: wrap;
	}
	footer ul {
		margin-top: 20px;
	}

}
@media screen and (max-width: 580px) {
	#about .columns .col {
		flex: auto;
		width: 100%;
		margin:10px auto;
	}
}